<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//use.typekit.net/aaw6zwk.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<html>
<head>
  <title>Backreact</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
	<div id='nav'></div>
  <div id='container'>

  </div>

  <div id='footer'></div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
